*~
*.[oa]
*.DS_Store

main


*.pyc


a.out


gmp-5.0.5

*.zip


*.class

*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
Scala/workspace/

# Scala-IDE specific
.scala_dependencies
.worksheet
